body {
  font-family: @font-family;
  font-size: @font-size-md;
  font-weight: 400;
  line-height: @font-size-md * 1.5;
  text-transform: uppercase;
  color: black;
  min-width: 320px;
  text-align: center;
  box-sizing: border-box;
}

a:active, a:focus { outline: none; }

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}

@media @desktop-widths {
  body {
    max-width: 1200px;
    margin: 0 auto;
  }
}
