@font-face {
    font-family: PTSans;
    src: url("../fonts/ptsans.woff") format("woff"),
    url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
    font-family: PTSansBold;
    src: url("../fonts/ptsansbold.woff") format("woff"),
    url("../fonts/ptsansbold.woff2") format("woff2");
}

.outline() {
  outline: 1px solid black;
}

.bold() {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  font-family: PTSansBold, sans-serif;
}

.regular() {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  font-family: PTSans, sans-serif;
}

.btn() {
  background-color : #81b3d2;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-family: PTSansBold, sans-serif;
}
