@primary-color: #81b3d2;
@secondary-color: #333333;
@passiv-style-color: #eeeeee;
@footer-color: #fefefe;
@menu-line-color: #678fa8;
@separator-line-color: #d6d6d6;
@btn-hover-color: #669ec0;
@btn-active-color: #5496bd;
@btn-active-text-color: #94b9d2;
@btn-disabled-color: #e5e5e5;
@menu-hover-color: #95bed8;
@menu-hoverdown-color: #e4e4e4;
@menu-active-color: #827167;
@menu-activehover-color: #604e43;
@menu-activedown-color: #dbd8d5;
@photo-descr-color1: #f2f2f2;
@photo-descr-color2: #eaeaea;
@radion-button-down-color: #a4a4a4;

@font-family: PTSans, sans-serif;

@font-size-lg: 18px;
@font-size-md: 14px;
@font-size-xl: 21px;
@font-size-xxl: 30px;

@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1200px)";
