.advantage{

}

.advantage__header{
  background-color: #81b3d2;
}

.advantage__title{
  .bold();
  color: white;
}

.advantage__num, .advantage__text{
  .regular();
  color: white;
}

.advantage__header--passiv{
  background-color: #eeeeee;
}

.advantage__title--passiv{
  color: black;
}

.advantage__num--passiv, .advantage__text--passiv{
  color: #333333;
}

.advantage__list {

}

.advantage__list-item{
  list-style: none;
}

.advantage__list-item-motto{
  .bold();
  color: black;
}

.advantage__list-item-text{
  .regular();
  color: #333333;
}
