.feedback-form {
  padding-left: 0;
  padding-right: 0;
}

.feedback-form__block {
  font-size: @font-size-lg;
  font-weight: 700;
  line-height: @font-size-lg * 1.4444;
  color: black;
  border: none;
  border-top: 1px solid @separator-line-color;
}

.feedback-form__send-btn {
  line-height: @font-size-xl * 1.23809;
  font-size: @font-size-xl;
  width: 280px;
  height: 58px;
  cursor: pointer;
}

@media @tablet-widths {
  .feedback-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .feedback-form__block {
    margin-left: 60px;
    margin-right: 60px;
  }

  .feedback-form__block:nth-child(1) {
    width: 50% - 1px;
    order: 2;
    margin: 0;
    padding: 0;
    border: none;
    border-left: 1px solid @separator-line-color;
  }
  .feedback-form__block:nth-child(2) {
    width: 100%;
    order: 3;
  }
  .feedback-form__block:nth-child(3) {
    width: 50%;
    order: 1;
    margin: 0;
    padding: 0;
    border: none;
  }
  .feedback-form__block:nth-child(4) {
    width: 100%;
    order: 4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .feedback-form__block:nth-child(5) {
    width: 100%;
    order: 5;
  }
  .feedback-form__send-btn {
    width: 44%;
    order: 6;
    margin-left: 60px;
  }
}

@media @desktop-widths {
  .feedback-form__block {
    margin-left: 120px;
    margin-right: 120px;
  }
  .feedback-form__send-btn {
    margin-left: 120px;
  }
}
