.feedback-form {

}

.feedback-form__block {
  .bold();
  color: black;
}

.feedback-form__send-btn {
  .btn();
  line-height: 26px;
  font-size: 21px;
  width: 280px;
  height: 58px;
  cursor: pointer;
}
