.feedback-form {
  padding-left: 0;
  padding-right: 0;
}

.feedback-form__block {
  font-size: @font-size-lg;
  font-weight: 700;
  line-height: @font-size-lg * 1.4444;
  color: black;
  border: none;
  border-top: 1px solid @separator-line-color;
  position: relative;

  legend {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 245px;
  }

  &--emotion-style {
      margin-top: 30px;
    }
}

.feedback-form__block-wrapper {
  margin: 0 auto;
  margin-top: 70px;
  width: 300px;
}

.feedback-form__send-btn {
  line-height: @font-size-xl * 1.23809;
  font-size: @font-size-xl;
  width: 280px;
  height: 58px;
  cursor: pointer;
  border: none;
}

@media @tablet-widths {
  .feedback-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .feedback-form__block {
    margin-left: 60px;
    margin-right: 60px;
    font-size: @font-size-xl;
    position: static;

    legend {
      width: 399px;
      position: static;
      top: auto;
      left: auto;
      transform: none;
    }

    &--present-style {
      box-sizing: border-box;
      width: 50%;
      order: 2;
      margin: 0;
      padding: 0;
      border: none;

      legend {
        text-align: left;
        margin-left: 58px;
      }
    }

    &--contact-style {
      width: 100%;
      order: 3;
      margin-top: 68px;
    }

    &--impression-style {
      width: 50%;
      order: 1;
      margin: 0;
      padding: 0;
      border: none;
      box-sizing: border-box;
      border-right: 1px solid @separator-line-color;
    }

    &--sight-style {
      width: 100%;
      order: 4;
      margin-top: 20px;
    }

    &--emotion-style {
      width: 100%;
      order: 5;
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .feedback-form__block-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 0;
    width: 500px;
  }

  .feedback-form__send-btn {
    width: 44%;
    order: 6;
    margin-left: 60px;
  }
}

@media @desktop-widths {
  .feedback-form__block {
    &--present-style {
      legend {
        margin-left: 75px;
      }
    }
  }

  .feedback-form__block-wrapper {
    width: 970px;
  }
}
