.field-checkbox {
  display: block;
}

.field-checkbox__input {

}

.field-checkbox__name {
  font-size: @font-size-lg;
  font-weight: 700;
  line-height: @font-size-lg * 1.4444;
  color: black;
  text-transform: none;
}

@media @tablet-widths {
  .field-checkbox {
    width: 50%;


    &--bridge-style {
      order: 1;
    }

    &--park-style {
      order: 3;
    }

    &--bell-style {
      order: 2;
    }

    &--rocks-style {
      order: 4;
    }
  }
}

@media @desktop-widths {
  .field-checkbox {
    width: 25%;


    &--bridge-style {
      order: 1;
    }

    &--park-style {
      order: 2;
    }

    &--bell-style {
      order: 3;
    }

    &--rocks-style {
      order: 4;
    }
  }
}
