.field-text {
  display: block;
}

.field-text__name {
  font-size: @font-size-regular;
  font-weight: 400;
  line-height: @font-size-regular*1.85714;
  text-transform: uppercase;
  font-family: @font-family;
  color: @secondary-color;
}

.field-text__input {

}
