.field-text {
  display: block;
  margin: 20px auto;
  text-align: left;

  &:first-of-type {
    padding-top: 50px;
  }

  &--present-style {
    display: flex;
    align-items: center;
  }

  &--contact-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  &--tel {
    position: relative;


    &::before {
      content: "";
      width: 58px;
      height: 58px;
      background-color: @btn-disabled-color;
      position: absolute;
      bottom: 0px;
      right: 0px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 20px;
      right: 20px;
      width: 18px;
      height: 18px;
      background: url("../img/icon-phone.svg") 0px 0px no-repeat;
    }
  }

  &--mail {
    position: relative;


    &::before {
      content: "";
      width: 58px;
      height: 58px;
      background-color: @btn-disabled-color;
      position: absolute;
      bottom: 0px;
      right: 0px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 20px;
      right: 20px;
      width: 16px;
      height: 16px;
      background: url("../img/icon-mail.svg") 0px 0px no-repeat;
    }
  }
}

.field-text__name {
  font-size: @font-size-md;
  font-weight: 400;
  line-height: @font-size-md * 1.85714;
  color: @secondary-color;
}

.field-text__input {
  height: 58px;
  background-color: @photo-descr-color1;
  border: none;
  box-sizing: border-box;
  padding-left: 15px;


  &:hover {
    background-color: @btn-disabled-color;
  }

  &:focus {
    background-color: white;
    border: 4px solid @btn-disabled-color;
  }

  &--present-style {
    flex-grow: 1;
    width: 100%;
  }

  &--contact-style {
    width: 100%;
  }
}


@media @tablet-widths {
  .field-text {


    &:first-of-type {
      padding-top: 0px;
    }
  }
}


@media @desktop-widths {
  .field-text {

    &--contact-style {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 50%;
      margin-top: 60px;
    }

    &__actual {
      display: none;
    }

    &__name {
      margin-right: 15px;
    }

    &--tel {
      margin-right: 79px;
    }
  }

  .field-text__input {
    &--contact-style {
      width: auto;
      flex-grow: 1;
      height: 58px;
    }
  }
}
