.find-hotel {

}

.find-hotel__title {
  .bold();
  color: black;
}

.find-hotel__text {
  .regular();
  line-height: 24px;
  color: #333333;
}

.find-hotel__ref {
  .btn();
  font-size: 21px;
  line-height: 26px;
}
