.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  height: 56px;
  width: 100%;
  background-color : @primary-color;
  border-top: 1px solid @menu-line-color;
  display: flex;

  &:nth-child(3) {
    display: none;
  }
}

.nav__item > a {
  font-size: @font-size-lg;
  line-height: @font-size-lg * 2.22222;
  background-color : @primary-color;
  font-weight: 700;
  color: white;
  text-decoration: none;
  margin: auto;
}

@media @tablet-widths {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .nav__item {
    width: 20%;
    background-color : white;

    &:nth-child(3) {
      display: block;
    }
  }

  .nav__item > a {
    color: black;
    background-color: white;
  }

}

@media @desktop-widths {

}
