.page-footer {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  line-height: @font-size-btn*1.23809;
  color: black;
  background-color: @footer-color;
  text-transform: uppercase;
  font-family: @font-family;
}

.page-footer__hashtag {
  font-size: @font-size-btn;
  font-weight: 700;
}

.page-footer__developer {
  font-size: @font-size-regular;
  font-weight: 400;
}
