.photo {
  width: 100%;
  margin: 0 auto;
}

.photo__item-img {
  border-top: 1px solid @separator-line-color;


  img {
    margin-top: 23px;
    margin-bottom: 20px;
  }
}

.photo__descr {
  width: 280px;
  margin: 0 auto;
  text-align: left;
}

.photo__item-title {
  font-size: @font-size-md;
  font-weight: 700;
  line-height: @font-size-md * 1.71428;
  display: block;
}

.photo__item-author {
  font-size: @font-size-md;
  font-weight: 400;
  line-height: @font-size-md * 1.71428;
  display: block;
  text-transform: none;
}


@media @tablet-widths {
  .photo {
    display: flex;
    flex-wrap: wrap;
  }

  .photo__item {
    width: 42%;

    &:nth-of-type(2n) {
      margin-left: 7.8125%;
    }

    &:nth-of-type(2n+1) {
      margin-right: 7.8125%;
    }

    &:first-of-type {
      width: 84.375%;
      margin: 0 auto;
    }
  }

  .photo__item-img {
    border: none;


    img {
      margin: 0;
    }
  }

  .photo__descr {
    background-color: @photo-descr-color1;
    display: flex;
    justify-content: space-between;
    width: 100%;

    &--dark {
      background-color: @photo-descr-color2;
    }
  }
}

@media @desktop-widths {
  .photo__item {
    width: 33.3%;


    &:nth-of-type(2n) {
      margin-left: 0;
    }

    &:nth-of-type(2n+1) {
      margin-right: 0;
    }

    &:first-of-type {
      width: 100%;
    }
  }
}
