.social-links {
  list-style: none;
}

.social-link__twitter {
  display: block;
  width: 48px;
  height: 48px;
  background: #81b3d2 url("../img/icon-twitter.svg") 18px 18px no-repeat;
  text-indent: -9999px;
}

.social-link__facebook {
  display: block;
  width: 48px;
  height: 48px;
  background: #81b3d2 url("../img/icon-facebook.svg") 20px 20px no-repeat;
  text-indent: -9999px;
}

.social-link__youtube {
  display: block;
  width: 48px;
  height: 48px;
  background: #81b3d2 url("../img/icon-youtube.svg") 15px 20px no-repeat;
  text-indent: -9999px;
}
