.video-presentation {

}

.video-presentation__title {
  font-size: @font-size-lg;
  font-weight: 700;
  line-height: @font-size-lg * 1.4444;
  color: black;
}

.video-presentation__text {
  font-size: @font-size-md;
  font-weight: 400;
  line-height: @font-size-md * 1.71428;
  color: @secondary-color;
}
