.video-presentation {
  border-top: 1px solid @separator-line-color;
}

video {
  width: 100%;
}

.video-presentation__title {
  font-size: @font-size-lg;
  font-weight: 700;
  line-height: @font-size-lg * 1.4444;
  color: black;
  margin-top: 40px;
  display: block;
}

.video-presentation__text {
  font-size: @font-size-md;
  font-weight: 400;
  line-height: @font-size-md * 1.71428;
  color: @secondary-color;
  margin: 0 auto;
  margin-top: 38px;
  margin-bottom: 38px;
  width: 270px;
}

@media @tablet-widths {
  .video-presentation {
    border: none;
    width: 100%;
  }

  .video-presentation__title {
    font-size: @font-size-xxl;
  }

  .video-presentation__text {
    width: 415px;
  }
}

@media @desktop-widths {

}
