.welcome {
  background: url("../img/bg-intro-triangle-mobile.svg") 50% 80% no-repeat,
              url("../img/text-sedona-index.svg") 50% 0 no-repeat,
              url("../img/bg-back-mobile@1x.jpg") 50% 0 no-repeat;
  background-size: 100% 389px;
  width: 100%;
  height: 610px;

  /*&--reduced {
    background-size: 100% 158px;
    height: 347px;
  }*/
}

@media @tablet-widths {
  .welcome {
    background-size: 100% 518px;
    height: 725px;
    width: 100%;
  }
}

@media @desktop-widths {

}
